header{
    margin-left: auto;
    width: auto;
    height: 55px;
    margin-right: auto;
    display:flex;
    
    background-color: black;
    align-items: baseline;
    vertical-align: auto;
    flex-wrap: wrap;
    
}
.flex-container2 > div {
  background-color: rgba(127, 255, 238, 0.527);
  margin: 2px;
  padding: auto;
  font-size: auto;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  margin-block-end: auto;
  link.hover{color:rgba(127, 255, 238, 1);}
}
.Banner{
    margin-left: 10px;
    margin-right: 7px;
    position: relative;
    display: inline-block;
    }
    .Title{
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 500%;
    color: white;
    }
.flex-container{
    position: relative;
    width: auto; ;
    height:auto;
    border: 20;
    
}
.vilardoms{
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(114, 114, 121);
    
}
.colum{
    column-count: 2;
    
}
.title{
    font-size: 100px;
}

/**body{
    font-size:15px;
    font-family:Arial;
    width:140px;
    height:50px;
    border-width:1px;
    background-color:rgb(199, 106, 99);
}*/
table, th, td {
    border:1px solid rgba(0, 0, 0, 0.822);
  }/*
  .header2 {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }*/
  article.blocpersones{
    display: inline-block;
    margin: 1%;
    padding: 1%;
    width: 28%;
  }.lema {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
  }
  
  .bodis{
    width: 100%;
    height: 1000px;
  }.footer{
    width: 98%; /* Full width */
    padding: 17px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    color: blanchedalmond;
    style="font-family:;
    background-color: rgb(72, 3, 138);
  } 
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 0px;
    padding: auto;
    font-size: auto;
    flex-direction: column-reverse;
    background-color: rgba(177, 27, 16, 0.959);
  }
.flex-container { 
  flex-wrap: wrap;
  display: flex;
  grid-template-columns: auto auto auto;
  gap: 10px;
  font-display: inherit;
  text-align: center;
  justify-content: center;
  
}
.son{
  display: flex;

}map{
  margin-left: 2%;
  display: flex ;
  justify-content: center;
}
body{
  background-color: rgba(43, 43, 43, 0.664);
}